<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> 
	<link href="/stylesheets/jumbotron.css" rel="stylesheet"> 
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/login"><img src="/images/logo.png"></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/restaurants">Restaurants Info</a></li>
					<li ><a href="/friendsupdates">Friends Updates</a></li>
					<li><a href="/friendsactivities">Friends Activities</a></li>
					<li class="active"><a href="/personalactivities">Personal Activities<span class="sr-only">(current)</span></a></li>
					<li><a href="/addfriends">Add Friends</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<p>Welcome, <%= userGivenName %> ! </p>
						</div>
				   </form>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>	
	<div class="container">
		<div class="jumbotron">
			<% for(var i=0; i < personalreview.length; i++) { %>
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" src="http://vignette2.wikia.nocookie.net/feed-the-beast/images/8/88/Shards-64x64.gif/revision/latest?cb=20131110151438" alt="">
					</a>
					<div class="media-body">
						<h4 class="media-heading"><a><%= personalreview[i][0]%> </a>
								<small>commented on </small><a><%= personalreview[i][1]%></a></h4>
								<%= personalreview[i][2]%>
					</div>
				</div>
				<br><br>
						<% } %>		
			</div>
		<div class="jumbotron">
			<h3>Activities Created</h3><br><br>
			<% for(var i=0; i < personalactivity.length; i++) { %>
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" src="http://vignette2.wikia.nocookie.net/feed-the-beast/images/8/88/Shards-64x64.gif/revision/latest?cb=20131110151438" alt="">
					</a>
					<div class="media-body">
						<h3 class="media-heading"><a><%= personalactivity[i][4]%></a></h3>
						<table class="table table-bordered table-striped" >
							<tr>
								<th>Initiator</th>
								<td><a><%= userGivenName %> </a></td>
							</tr>
							<tr>
								<th>Time</th>
								<td><%= personalactivity[i][2]%></td>
							</tr>
							<tr>
								<th>Members</th>	
								<td>
								<% for(var j=0; j < peoplelist.length; j++) { %>
									<% if (personalactivity[i][5] == peoplelist[j][2]) {%>
									<a><%= peoplelist[j][0]%> <%= peoplelist[j][1]%></a> &nbsp;&nbsp;
									<%  } %>
								<% } %>	</td>	
							</tr>
							<tr>
								<th>Comment from <%= userGivenName %></th>
								<td><%= personalactivity[i][3]%></td>
							</tr>
						</table>
						
						
					</div>
				</div>
						<% } %>
		</div>
			<div class="jumbotron">
				<h3>Friends Requests</h3><br><br>
				<% for(var i=0; i < friendrequest.length; i++) { %>
					<div class="container">
						<div class="col-md-6">
							<table class="table table-striped table-hover" >
								<h3><%= friendrequest[i][1] %></h1>
									<tr>
										<th>ID number</th>
										<td><%= friendrequest[i][0]  %></td>
									</tr>
							</table>
							<br>
							<a id="<%=  friendrequest[i][0]%>" class="btn btn-primary btn-sm btn-accept-friend" role="button">Accept</a>
							<a id="<%=  friendrequest[i][0]%>" class="btn btn-primary btn-sm btn-deny-friend" role="button">Deny</a>
						</div>
					</div>
					<% } %>
			</div>
	</div>

	<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/bootstrap.js"></script>
		<script type="text/javascript" src="/javascripts/backstretch.min.js"></script>
		<script type="text/javascript" src="/javascripts/yelp-login.js"></script>
		<script>
		$(document).ready(function(){
			var friendsname;
			var addfriendname;
			var dialog, form;
			var ButtonId;
			
			$(".btn-accept-friend").on( "click", function(event) {
				alert("You have accepted the request");
				event.preventDefault();
				ButtonId = this.id;
				$.post("/accept_friend",{friendid: ButtonId}, function(){
					 alert("You have successfully send the message!");
				});
			});
			
			$(".btn-deny-friend").on( "click", function(event) {
				alert("You have deny the request");
				event.preventDefault();
				ButtonId = this.id;
				$.post("/denyfriend",{friendid: ButtonId}, function(){
					 alert("You have successfully send the message!");
				});
			});
			
			
		});
		</script>				

	</body>
	</html>

